@import url('https://fonts.googleapis.com/css?family=Chilanka&display=swap');

/* styles for calci.js */
.Heading{
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: 800;
    text-decoration: underline;
    margin-top:100px;
    font-family: 'Chilanka', cursive;
}

.main{
    text-align:center;
    margin:5% 40%;
    border:2px solid black;
    padding:12px 10px 0px 10px;
    width:18%;
    height: 320px;
    box-shadow: 2px 2px 5px black;
    background-color: cyan;
    border-radius:6%;

}

 .keypad{
     margin-top:15px
 }

 .Display{
    border:2px solid black;
    padding:2px 1.6px;
    border-radius:6px;

 }
